doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Logger ESP32 : Index
    link(href="css/bootstrap.min.css" rel="stylesheet")
  body(onload="startTime()")
    .container-fluid
      .row
        .col-md-12
          nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-dark.bg-dark.static-top
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
              span.navbar-toggler-icon
            a.navbar-brand(href="#") Logger
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.navbar-nav
                li.nav-item.active
                  a.nav-link(href="#")
                    | Heure
                    span.sr-only (current)
                li.nav-item
                  a.nav-link(href="/data") Capteurs
                li.nav-item
                  a.nav-link(href="/graph") Graphiques
          .jumbotron(style="text-align:center;")
            h2
              #txt
            p
              label(for="rate") Mettre à jour la période de rafraichissement en secondes :
              input#rate(type="text" value="30")
            p
              | Vous pouvez remettre à l'heure la RTC du Logger en cliquant une fois sur le bouton suivant.
            p
              button.btn.btn-primary(type="button" onclick="sendData()") Envoi des informations
            p
              | Vous pouvez télécharger le fichier Logger de la carte SD en cliquant sur le bouton suivant :
            p
              a.btn.btn-success(href="logger.csv" role="button") Télécharger le fichier
            p
              button.btn.btn-danger(type="button" onclick="shutdown()") Eteindre le Wifi
    script(src="js/script.js")
    script(src="js/bootstrap.min.js")
